body{
  color: #fff;
  background-color: #000000;
  background-image: url(../img/Deadpool-Background-HD.jpg);
  background-size:cover;

}
/*Header*/


.primary-header h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.head-2 h2{
  color: #FF2828;
  margin-top:-40px;
  font-size: 100px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  float:left;
  text-align: center;
}


/*Video Frame*/
iframe{
  margin-right: 130px;
  margin-top: -90px;
  padding-top: -200px;
}

/*Social Icons*/
.foot{
  background-color: rgba(43, 7, 6, 0.9);
  margin-top: 500px;
}

#icons a{
  display: inline-block;
  text-decoration: none;
  background-color: #CF1F1B;
  color: #fff;
}

#icons a:hover{
  color: rgba(199, 181, 207,0.7);
  background-color:#F1706D;
}

.ig{
  text-align: center;
}

.fb{
  text-align: center;
}

.twitter{
  text-align: center;
}

.pinterest{
  text-align: center;
}
