body{
  color: #fff;
  background-color: #000000;
  background-image: url(../img/Deadpool-Background-HD.jpg);
  background-size:cover;
}
/*Header*/
#nav{
  text-align: center;
  background-color:rgba(43, 7, 6, 0.9);
  padding: 30px;
}

.nav{
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border: 3px solid rgba(220, 33, 29, 0.5);
  border-radius: 5px;
  margin-right: 50px;
  padding: 10px 20px;
}

.primary-header h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.primary-header h2{
  color: #FF2828;
  margin-top:-40px;
  font-size: 100px;
  font-weight: 200;
  font-family: 'Merriweather', serif;
  float:left;
  text-align: center;
}

.primary-header h3{
  color: #fff;
  float: left;
  font-size: 60px;
  margin-left: -570px;
}

/*Video Button*/
button {
  border: 0;
  background: #DC211D;
  border-radius: 5px;
  box-shadow: 0 5px 0 #300706;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 20px 70px;
  margin-top: 150px;
  margin-left:-500px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #300706;
  transform: translateY(3px);
}

a button{
  font-size: 50px;
}

/*Video Frame*/
iframe{
  float:right;
  margin-right: 40px;
  margin-top: 60px;
}

/*ABOUT*/
.about p{
  font-size: 30px;
  background-color: rgba(181, 27, 24, 0.7);
}

.about h2{
  font-size: 30px;
  background-color: rgba(181, 27, 24, 0.7);
}

/*PEOPLE*/
.people{
  border: 10px solid #fff;
  float: left;
  width: 40%;
  background-color: rgba(181, 27, 24, 0.8);
  text-align: center;
}

.people h2{
  font-size: 35px;
}

/*Social Icons*/
.foot{
  background-color: rgba(43, 7, 6, 0.9);
  margin-top: 700px;
}

.foot p{
  font-size: 40px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

#icons a{
  display: inline-block;
  text-decoration: none;
  background-color: #CF1F1B;
  color: #fff;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

#icons a:hover{
  color: rgba(199, 181, 207,0.7);
  background-color:#F1706D;
}

.ig{
  text-align: center;

}

.fb{
  text-align: center;
}

.twitter{
  text-align: center;
}

.pinterest{
  text-align: center;
}
